@{
    ViewData["Title"] = "Rules";
}

<h1>Rules</h1>

<ul>
    <li>
        Send your request via YouTube superchat. Minimum $10 USD. Higher amount = higher on the playlist.
    </li>
    <li>
        Any currency is accepted, as long as the amount in that currency meets the $10 USD minimum. If in doubt, feel free to use our <a asp-controller="Currencies" asp-action="Index">real-time currency converter</a> for accurate conversions.
    </li>
    <li>
        Alternatively, you can request a song via <a href="https://streamlabs.com/becometheknight/tip" target="_blank">StreamLabs</a> if you don't want to use YouTube superchat.
    </li>
    <li>
        Make sure to check the <a href="#">catalog</a> and <a href="#">banned list</a> to make sure that the song you are requesting has not been done before, and that the artist you are requesting has not been banned from the livestreams.
    </li>
    <li>
        I reserve the right to invoke the "F you" privilege and immediately skip your song if I absolutely can't stand it. I typically give every song a chance, but mind your audience.
    </li>
</ul>