@{
    int year = DateTime.Now.Year;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SSDB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SongSuggestionDatabase.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">SSDB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-info" asp-controller="Home" asp-action="Rules">Rules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Requests" asp-action="Index">Full Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Episodes" asp-action="Index" asp-route-year="@year">Streams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" asp-controller="BannedList" asp-action="Index">Banned List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Currencies" asp-action="Index">Currency Conversions</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse justify-content-end">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @year Become the Knight. All rights reserved.
            Spot a bug? Report it to <a href="mailto:stantonjosephyaworski1201@gmail.com">stantonjosephyaworski1201@gmail.com</a>.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@8.0.7/dist/browser/signalr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
